<div class="principal">
    <div class="bloco">
        <div class="calendario">
            <p>29 Nov</p>
        </div>
        <img src="../rep1.png" alt="">
        <div class="texto">
        <p class="cima">Lorem, ipsum dolor sit amet consectetur amet consectetur</p>
        <p class="baixo">Lorem, ipsum dolor sit amet consectetur amet consectetur amet consectetur</p>
        <div class="readmore">
        <p class="link">litletexto</p>
        <a href="">Read More--></a>
    </div>
    </div>
    </div>
    <div class="bloco">
        <div class="calendario">
            <p>09 Nov</p>
        </div>
        <img src="../rep2.png" alt="">
        <div class="texto">
        <p class="cima">Lorem, ipsum dolor sit amet consectetur amet consectetur</p>
        <p class="baixo">Lorem, ipsum dolor sit amet consectetur amet consectetur amet consectetur</p>
        <div class="readmore">
        <p class="link">litletexto</p>
        <a href="">Read More--></a>
    </div>
    </div>
    </div>
    <div class="bloco">
        <div class="calendario">
            <p>04 Oct</p>
        </div>
        <img src="../rep3.png" alt="">
        <div class="texto">
        <p class="cima">Lorem, ipsum dolor sit amet consectetur amet consectetur</p>
        <p class="baixo">Lorem, ipsum dolor sit amet consectetur amet consectetur amet consectetur</p>
        <div class="readmore">
        <p class="link">litletexto</p>
        <a href="">Read More--></a>
    </div>
    </div>
    </div>
    <div class="bloco">
        <div class="calendario">
            <p>01 Ago</p>
        </div>
        <img src="../rep4.png" alt="">
        <div class="texto">
        <p class="cima">Lorem, ipsum dolor sit amet consectetur amet consectetur</p>
        <p class="baixo">Lorem, ipsum dolor sit amet consectetur amet consectetur amet consectetur</p>
        <div class="readmore">
        <p class="link">litletexto</p>
        <a href="">Read More--></a>
    </div>
    </div>
    </div>
</div>